form{
    display: grid;
    grid-template-columns: 40%  40%;
    gap: 20%;
    padding: 2rem 6rem;
}

.form-input-text{
    background-color: rgb(240, 240, 244);
    height: 3rem;
    font-size: 1.4rem;
    padding: 0.3rem;
    border: black solid 1px;
    border-radius: 0.3rem;
}

.form-input-btn{
    color: white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    grid-column: span 2;
    height: 3rem;
    font-size: 1.3rem;
    border: black solid 2px;
    border-radius: 0.6rem;
}
.form-input-btn:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 0.1s;

}